body, html {
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    background-image: url(ponderorb.jpg);
    background-size: contain;
    background-position: center;
}